body {
    margin: 0;
    padding: 0;

    font-family: "Helvetica", sans-serif;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 285px;
    margin-right: 35px;
}

.column:last-child {
    margin-right: 0;
}

/* header */

.main-header {
    color: #666666;
    padding-top: 35px;
    padding-bottom: 25px;
}

.logo {
    display: block;
    float: left;
}

.site-navigation {
    float: right;

    margin: 0;
    margin-top: 20px;

    font-family: Georgia;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 14px;

    list-style: none;
}

.site-navigation li {
    display: inline-block;

    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px dotted #666666;
}

.link-comment {
    color: #b7b7b7;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    text-transform: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #000000;
}

/* main */

.introduction-background {
    margin-bottom: 55px;

    min-height: 335px;
    background-image: linear-gradient(#161616, #333333);
}

.site-slogan {
    margin-top: 0;
    margin-bottom: 30px;
    padding-bottom: 17px;
    border-bottom: 1px solid #d4d4d4;

    font-family: Georgia;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.articles {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d4d4d4;
}

.articles-list {
    margin: 0;
    padding: 0;
}

.article-picture {
    margin-bottom: 21px;

    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}

.article {
    list-style: none;
}

.article-name {
    margin: 0;
    margin-bottom: 5px;

    color: #11719e;
    font-family: Georgia;
    font-size: 21px;
    font-weight: 400;
}

.article-explanation {
    margin: 0;
    margin-bottom: 23px;

    color: #8c8c8c;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 400;
}

.article-preview {
    margin: 0;
    margin-bottom: 20px;

    color: #3e3e3e;
    font-family: Helvetica;
    font-size: 13px;
    font-weight: 400;
    line-height: 18.4px;
}

.btn {
    position: relative;
    display: inline-block;
    width: 164px;
    height: 34px;
    padding: 0px;
    padding-left: 18px;
    padding-right: 25px;

    font-family: Helvetica;
    text-align: left;
    vertical-align: middle;
    line-height: 34px;
    font-size: 12px;
    font-weight: 400;

    border-radius: 4px;
}

.btn:hover,
.btn:focus,
.btn:active {
    border: 1px solid #ffffff;
}

.btn-learn {
    color: #016999;

    background-color: #f2f2f2;
    background-image: url("../img/btn-grey.png");
    box-shadow: inset 0 0 3px #befeff;
    border: 1px solid #d8d8d8;
}

.btn-learn::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 7px;
    right: 8px;
    top: 12px; 
    background-image: url("../img/arrow-blue.png");
    background-repeat: no-repeat;
}

.btn-connect {
    color: #ffffff;

    background-color: #366ba5;
    background-image: url("../img/btn-blue.png");
    box-shadow: inset 0 0 3px #befeff;
    border: 1px solid #004a80;
}

.btn-connect::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 7px;
    right: 8px;
    top: 12px; 
    background-image: url("../img/arrow-white.png");
    background-repeat: no-repeat;
}

.column-name {
    padding-bottom: 6px;
    border-bottom: 1px dotted #d4d4d4;

    color: #444444;
    font-family: Georgia;
    font-size: 18px;
    font-weight: 400;
    line-height: 14px;
    
}

.social-links {
    margin-bottom: 33px;
}

.social-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-links li {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
}

.social-link {
    display: block;    
}

.social-hz {
    height: 57px;
    width: 57px;

    background-image: url("../img/social-hz.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.social-fb {
    height: 56px;
    width: 56px;

    background-image: url("../img/social-fb.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.social-in {
    height: 57px;
    width: 57px;

    background-image: url("../img/social-in.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.social-yt {
    height: 60px;
    width: 64px;

    background-image: url("../img/social-yt.jpg");
    background-repeat: no-repeat;
    background-position: -2px -3px;
}

.social-tw {
    height: 56px;
    width: 56px;

    margin-left: -7px;

    background-image: url("../img/social-tw.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.social-intro {
    margin: 0;
    margin-bottom: 7px;

    color: #444444;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
} 

.newsletter-intro {
    margin: 0;
    margin-bottom: 8px;
    margin-top: 5px;
    padding-top: 13px;

    border-top: 1px dashed #d4d4d4;
}

.news-list {
    color: #444444;
    list-style: none;
}

.form input,
.form textarea {
    width: 100%;
    height: 33px;
    margin-bottom: 15px;

    padding-left: 15px;

    font-family: "Verdana", sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;

    border: 1px solid #cfcfcf;
    border-radius: 4px;
}

.form textarea {
    margin-bottom: 10px;
    padding-top: 10px;
    height: 132px;
}

.news-list {
    margin: 0;
    padding: 0;
}

.news-list li {
    height: 65px;
}

.news-item {
    margin-bottom: 15px;
    
    border-bottom: 1px dashed #d4d4d4;
}

.news-item a {
    display: block;
    position: relative;
    padding-left: 65px;
}

.news-item a::before {
    content: "";
    position: absolute;
    width: 58px;
    height: 58px;
    left: 0;
    top: 0;

    background-repeat: no-repeat;
    background-position: 0 0;
}

.news-item:nth-child(1) a::before {
    background-image: url("../img/news-1.png");
}

.news-item:nth-child(2) a::before {

    background-image: url("../img/news-2.png");

}

.news-item:nth-child(3) a::before {

    background-image: url("../img/news-3.png");

}

/* footer */

.column-footer {
    float: left;
}
.copyright {
    float: right;
}

.main-footer {
    min-height: 170px;
    margin-top: 23px;
    padding-top: 5px;

    color: #999999;
    font-family: Helvetica;
    font-size: 11px;
    font-weight: 400;
    line-height: 10px; 

    background-color: #333333;
    border-top: 10px solid #4c4c4c;
}

.footer-navigation ul {
    list-style: none;
    padding-left: 0;
}

.footer-navigation li {
    display: inline-block;
    border-right: 1px solid #999999;
    padding-right: 4px;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
    color: #ffffff;
}